@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.New-Banner
{
background-color: #2D25A0;


width :1440px; 
height:600px;
Top: 69px;
Left :23px;  


}
.heading
{
color:white;
font size:
}

.Banner-Photo img{
    width: 556.01px;
    height: 438px;
    Top: 153px;
    Left: 1291px;
    margin-top: 100px;
    
    
}
.Banner
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding-top: 40px;
    
}
.link-button
{
text-decoration: none;
background-image: linear-gradient(yellow,orange);
width: 168px;
padding: 10px 24px 10px 24px;
font-weight: 700;
border-radius: 5px;

}
/* 2nd section start */
.Players
{
display: grid;
grid-template-columns: repeat(3,1fr);
word-wrap: nowrap;
grid-row-gap: 27px;

}
.Player img{
width: 350px;



}
.Legend-Players
{
    margin-top: 50px ;
    padding-left: 100px;
}
.Player{
width:330px;
height:474px;
Top:747px;
left: 900px;
padding: 15px 35px 0px 15px;
box-shadow: 0px 0px 40px silver ;
border-radius:0%;

}
footer
{

    text-align: center;
   
}
footer img{

    width: 383.87px;
height: 110px;
left: 0px;
top: 0px;
}
.socials{
list-style: none;
display: flex;
align-items: center;
justify-content: center;

}
.socials li
{
    margin: 0 10px;
}