.{
    margin: 0;
    padding: 0
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.New-Banner
{
background-image: url("images/foods/5\ \(2\).jpg");

/* 
width :1440px; 
height:600px;
Top: 69px;
Left :23px;   */
/* transition: width 2s,height 5s;  */

}
.New-Banner:hover{
/* width:700px;
height:600px;
background-color: goldenrod; */


} 



.heading
{
color:white;
font size:
}

.Banner-Photo img{
    width: 556.01px;
    height: 438px;
    Top: 153px;
    Left: 1291px;
    margin-top: 100px;
    border-radius:10px
    
    
}
.Banner
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding-top: 40px;
    
}
.link-button
{
text-decoration: none;
color:white;
background-image: linear-gradient(yellow,orange);
width: 168px;
padding: 10px 24px 10px 24px;
font-weight: 700;
border-radius: 5px;

}
/*restaurant part css start*/
.restaurant
{
    text-align: center;
    font-style: oblique;
    background-color:white;
}
.res{
background-color: rgba(255, 217, 0, 0.315);
}
.restaurant1 img
{
    width: 983px;
    height: 600px;
}
/*restaurant part css end*/
/* Dish Part Css start */
.foods
{
display: grid;
grid-template-columns: repeat(3,1fr);
word-wrap: nowrap;
grid-row-gap: 27px;

}
.headingtop
{
    background-color: greenyellow;
}
.food img{
width: 350px;



}
.Legend-foods
{
    background-color: white;
    margin-top: 50px ;
    padding-left: 100px;
    text-align: center;
    margin-bottom: 20px;
}
.food{
width:330px;
height:474px;
top:747px;
left: 900px;
padding: 15px 35px 0px 15px;
box-shadow: 0px 0px 40px silver ;
border-radius:0%;

}
/* Dish part css end */
/* pool part css start */
.pool2
{
    display: flex;
    background-color: grey;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
}
.pool{
    padding-top: 20px;
    padding-bottom: 20px;
}
.pool img
{
    width: 583.87px;
    height: 310px;
    padding-top:  20px; 
    padding-bottom: 20px ;
}
.pool1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}
.pool1 h1{
    background-color: gold;
}
.pool1 i{
    background-color: rgba(255, 217, 0, 0.288);
}
/* pool part css start */
/* Latest videos part css start */
.Latest-Videos
{
    margin-top: 30px;
background-color: gray;
padding-bottom: 20px;
padding-top: 20px;
}
.Video-Heading
{
text-align: center;
color:white;
}
.Videos
{
    display: flex;
    
}
.video-1
{
display: block;
padding: 10px;
margin-bottom: 30px;
text-align: justify;
margin-left: 120px;


}
.video-2
{

    display: block;
    padding: 10px;
    margin-bottom: 30px;
    text-align: justify;
    
}
.video-1 h2
{
    color: white;
}
.video-2 h2{

    color: white;
}
/* Latest videos part css end */

/* packages Part Start */
.total-packages
{

background-color: slategray;
}

.packages
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.packages-heading
{
    color: white;
    text-align: center;
}
.item{
    color: white;
}
.dishes{
color:yellowgreen;
font-size: 30px;

}

.packages-1
{
    display: block;
    padding: 30px;
    margin-bottom: 30px;
    text-align: justify;
    border:2px solid silver;
    border-radius: 20px;
    margin-right: 20px;
}
.packages-2
{
    display: block;
    padding: 30px;
    margin-bottom: 30px;
    text-align: justify;
    border:2px solid silver;
    border-radius: 20px;
    margin-right: 20px;
}
.packages-3
{
    display: block;
    padding: 30px;
    margin-bottom: 30px;
    text-align: justify;
    border:2px solid silver;
    border-radius: 20px;
    margin-right: 20px;
}
.packages-4
{
    display: block;
    padding: 30px;
    margin-bottom: 30px;
    text-align: justify;
    border:2px solid silver;
    border-radius: 20px;
    margin-right: 20px;
}
/* packages part end */

/* Footer Part Css Start */
footer
{

    text-align: center;
    margin-top: 50px;
   background-color: gray;
}
footer img{

    width: 383.87px;
height: 110px;
left: 0px;
top: 0px;
}
.socials{
list-style: none;
display: flex;
align-items: center;
justify-content: center;

}
.socials li
{
    margin: 0 10px;
}
#silver
{
    background-color: white;
}
/* Footer Part Css End */

/* -------------------------------
Media Queries 
---------------------------------*/
/* Mobile Devices */
@media only screen and (max-width:688px) {
    .foods
    {

        grid-template-columns: repeat(1,1fr);
        

    }
    .New-Banner
    {

      display: block;  
width:120%;
height: 695px;
left: 0px;
top: 0px;

    }
    .Banner{

    display: block;
    }
    .Banner-Photo img{
        width: 500px;
        height:300px
        
    }
    .Heading-Anchor
    {

        padding-left: 60px;
    }

    
}
/* tablet devices */
@media only screen and (min-width:688px) and (max-width:992px) {
    .foods
    {

        grid-template-columns: repeat(2,1fr);
        

    }
    .Banner-Photo img{

padding-right: 400px;
    }
    
    .Heading-Anchor
    {

        padding-left: 60px;
    }
}
/* Media Queries End */
/* The End */

#header{
    position: relative;
}
.header-options{
    display:flex;
    margin: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.header-options li{
    margin: 10px;
    cursor: pointer;
    color:white;
}
.header-options li:hover{
    
    color:red;
}